In [6]:
for i in range(1, 10001):
    find_num = []
    for k in range(1, i):
        if (i % k == 0):
            find_num.append(k)
    if (sum(find_num) == i):
        print(i)

6
28
496
8128

# 15.4 심사문제
표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

어린이(초등학생, 만 7세 이상 12세 이하): 650원
청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
어른(일반, 만 19세 이상): 1,250원

In [3]:
age = int(input())
balance = 9000 # 교통카드 잔액


if 7 <= age <= 12:
    balance = balance - 650
elif 13<= age <= 18:
    balance = balance - 1050
elif 19 <= age:
    balance = balance - 1250
    
print(balance)

12
8350

# 16.5 심사문제
표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.

In [24]:
number = int(input())
for i in range(1, 10):
    print('{} * {} = {}'.format(number, i, number*i))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# 17.6 심사문제
표준 입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [50]:
input_money = int(input())
while input_money - 1350 >= 0:
    input_money -= 1350
    print(input_money)

13500
12150
10800
9450
8100
6750
5400
4050
2700
1350
0

# 18.6 심사문제
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1\~200, 두 번째 입력 값의 범위는 10\~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요. 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.

In [52]:
start, stop = map(int, input().split())
i=start


while True:
    if i > stop:
        break
    if i % 10 == 3:
        i += 1
        continue
    print(i, end = ' ')
    i += 1

1 20
1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

# 값 구하기

a + b + c = 1000 (a < b < c) <br>
a\*a + b\*b +c\*c

In [40]:
for a in range(1, 999):
    for b in range(1, 1000-a):
        c = 1000 - a - b
        if a*a + b*b == c*c:
            print(a, b, c)

200 375 425
375 200 425

# 만나이 구하기

In [39]:

from datetime import date
today = date.today()
print(today.year, today.month, today.day)
b_year, b_month, b_day = map(int, input().split())
man_age = today.year - b_year
if (today.month >= b_month)&(today.day >= b_day):
    print(man_age)
else:
    print(man_age - 1)

2021 7 29
1986 07 30
34

# 추가문제

- 디지털 시계에 하루동안 (00:00 ~ 23:59) 이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?
- 디지털 시계는 하루동안 다음과 같이 시:분으로 표시됨.

In [44]:
count_sec = 0
for hour in range(0, 24):
    for minute in range(0, 60):
        if (str(hour) + str(minute)).count('3') > 0:
            count_sec += 1
print(count_sec * 60)

29700